.quotation {
    padding-top: 100px;
}


/* table{
    width: 100%;
    border-style: 1px solid black;
    text-align: center;
} */

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

td,
th {
    border: 1px solid #000000;
    text-align: center;
    padding: 20px;
}

.product-details {
    display: flex;
}

.product-details h3 {
    padding-left: 50px;
}

.cart-row input[type=number]::-webkit-inner-spin-button,
 ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    opacity: 0;
}

.cart-row input[type=number] {
    width: 5rem;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cart-row p {
    margin-top: 5px;
}

.info-form{
    justify-content: center;
}

.quotation{
    display: flex;
    flex-direction: column;
}

.request{
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.7rem 2rem;
    font-size: small;
    line-height: 1;
    background-color: #8E734A;
    text-decoration: none;
    cursor: pointer;
}