* {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.transition-shade {
    height: 10vh;
    background-image: linear-gradient(#ffecce, transparent);
}

h1{
    text-align: center;
    padding: 50px 0px;
    font-weight: 400;
}

.categories {
    position: relative;
    display: grid;
    justify-content: space-evenly;
    padding: 0px 10vw;
    padding-bottom: 20px;
    grid-gap: 1rem;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    /* grid-auto-rows: 300px; */
    justify-items: center;
    /* justify-content: space-around; */
}

.category-img  {
    position: relative;
    width: 200px;
    height: 200px;
}

.overlay{
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 200px;
    height: 200px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
    top: 0;
}

.category-card{
    position: relative;
}

.category-card .overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.category-card h4{
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
}

.contact input[type=text], textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    margin: 0px 15vw;
    margin-bottom: 20px;
}

.group {
    display: flex;
    flex-direction: row;
}

.group .user-input {
    flex: 1;
}

.carousel {
    max-height: 85vh;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

.carousel-item h2 {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 10%;
    color: white;
    font-size: 2rem;
    text-shadow: -2px 2px 2px black;
}

.carousel-item button {
    color: white;
    position: absolute;
    top:50%;
    left: 10%;
    border: 2px solid black;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: large;
    line-height: 1;
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
    cursor: pointer;
}

.carousel-item button:hover{
    background: rgba(0,0,0,0.7);
}

.contact button{
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.7rem 2rem;
    font-size: small;
    line-height: 1;
    background-color: #8E734A;
    text-decoration: none;
    cursor: pointer;
}

.contact button:hover{
    background-color: rgba(142, 115, 74, .8);
}


@media only screen and (max-width: 500px) {
    .group {
        display: block;
    }

    .contact{
        margin: 0px 5vw;
    }
}
