footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid black;
}

footer h5 {
    width: 200px;
    font-weight: 400;
    text-align: center;
    display: flex;
    float: left;
    min-height: 1px;
    margin: 5vh;
}

.copyrights{
    display: flex;
    text-align: center;
    padding: 25px;
    background:#8E734A;
    color: rgb(255, 255, 255);
    justify-content: space-evenly;
    width: 100vw;
    font-size: .80rem;
}

.copyrights a {
    text-decoration: none;
    color: white;
}

.copyrights a:hover {
    color: black;
}