* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

/* Navbar properties */
.header {
    display: flex;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    min-height: 50px;
    justify-content: space-evenly;
    z-index: 2;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.burger {
    display: none;
    background: black;
}

.header a{
    text-decoration: none;
    color: black;
}


.header-list {
    width: 50%;
    display: flex;
}

.header-list li {
    list-style: none;
    padding: 26px 20px;
}

.header-list li:hover {
    text-decoration: none;
    color: rgb(179, 179, 179);
    cursor: pointer;
}

.rightheader {
    display: flex;
    text-decoration: none;
    color: #777;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
}

.rightheader svg{
    color: grey;
    margin: 0px 10px;
}

.rightheader svg:hover {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.logo a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    flex-direction: column;
}

.logo img{
    height: 60px;
}

.logo span{
    font-size: .8vw;
}

@media only screen and (max-width: 500px) {
    .header-list{
        font-size: 10px;
    }
    .header{
        height: 20px;
    }
    .logo img{
        height: 40px;
    }
    .Carousel-indicators-2{
        display: none;
    }
}
