.product-header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.product-action{
    display: flex;
    flex-direction: column;
    height: 35vw;
    width: 35vw;
    align-items: stretch;
    justify-content: space-evenly;
}

.product-action hr{
    border-left:0;
    border-right:0;
}

.product-action h1{
    padding: 0;
    text-align: start;
}

.product-header img{
    width: 35vw;
    filter: brightness(50%);
    object-fit: cover;
}

.action-buttons{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.action-buttons button{
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.7rem 2rem;
    font-size: small;
    line-height: 1;
    background-color: white;
    width: 20vw;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.action-buttons button:first-of-type{
    background-color: #ED7D31;
    color: white;
}

.action-buttons button:hover{
    filter: brightness(75%);
}

.product-info{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
}